/* .parallax-container {
  perspective: 5rem;
  perspective-origin: 50% -300%;
  width: 100%;
  position: relative;
  height: 100vh;
} */

.carousel {
    height: 100vh;
    perspective: 5rem; 
    perspective-origin: 50% -80%; 
    width: 100%;
    position: relative;
  }
  
  .box {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 70%;
    height: 60%;
    transform: 0 50%;
    transition: transform 0.4s ease-in-out;
    overflow: hidden;
  }
  
  .box1 {
    background: rgb(200, 113, 235);
  }
  .box2 {
    background: rgb(0, 255, 255);
  }
  .box3 {
    background: rgb(238, 217, 97);
  }
  .box4 {
    background: rgb(243, 79, 156);
  }
  
  /* Target */
  .target {
    transform: scale(1.1) ;
    z-index: 3;
  }
  
  .left {
    transform: translateZ(-0.5rem) translateX(-100%);
    z-index: 2;
  }
  
  .right {
    transform: translateZ(-0.5rem) translateX(100%);
    z-index: 2;
  }
  
  /* Back */
  .back {
    transform: translateZ(-1rem);
    z-index: 1; 
  }
  